#container {
  position: relative;
  background: rgb(113, 167, 186);
  background: linear-gradient(90deg, rgb(136, 200, 223) 30%, rgb(255, 182, 246) 100%, rgba(0, 212, 255, 1) 100%);
  height: 1000px;
}

#navbar {
  background: #ffffff9d;
  filter: blur(1);
}

#mobileMenu ul li:hover {
  background: #ffffff98;
}

#mobileMenu ul li {
  height: 60px;
  line-height: 60px;
}

#menu ul li:hover {
  transform: scale(1.1);
}

#menu {
  overflow: hidden;
}

#menu ul li {
  height: 65px;
  transition: all;
  width: 80px;
  line-height: 65px;
}

#footer {
  position: absolute;
  margin-bottom: 50px;
  width: 100%;
  bottom: 0;
}

#talk {
  width: 110px;
  background: rgb(113, 167, 186);
  background: linear-gradient(90deg, rgb(86, 190, 228) 30%, rgb(218, 121, 206) 100%, rgba(0, 212, 255, 1) 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
