/* Animate */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#container {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 1000px;
}

#navbar {
  background: #ffffff;
  filter: blur(1);
}

#heroImg {
  background: rgb(113, 167, 186);
  background: linear-gradient(90deg, rgb(136, 200, 223) 30%, rgb(255, 182, 246) 100%, rgba(0, 212, 255, 1) 100%);
}

#mobileMenu {
  background-color: #ffffffe3;
  filter: blur(5);
}

#mobileMenu ul li:hover {
  background: #b8b8b898;
}

#mobileMenu ul li {
  height: 60px;
  line-height: 60px;
}

#menu ul li:hover {
  transform: scale(1.1);
}

#menu {
  overflow: hidden;
}

#menu ul li {
  height: 65px;
  transition: all;
  width: 80px;
  line-height: 65px;
}

#footer {
  margin-bottom: 50px;
  width: 100%;
  bottom: 0;
}

#talk {
  background: rgb(113, 167, 186);
  background: linear-gradient(90deg, rgb(86, 190, 228) 30%, rgb(218, 121, 206) 100%, rgba(0, 212, 255, 1) 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

#footerContainer {
  background: #ffffff;
  filter: blur(1);
}

#btn-lets-talk {
  background: rgb(113, 167, 186);
  background: linear-gradient(90deg, rgb(86, 190, 228) 30%, rgb(218, 121, 206) 100%, rgba(0, 212, 255, 1) 100%);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

#btn-lets-talk:hover {
}
